RNFetchBlob.config({
  fileCache: true,
  appendExt: 'xlsx',  // Sesuaikan ekstensi file sesuai kebutuhan
  path: RNFetchBlob.fs.dirs.DownloadDir + '/namafile.xlsx',  // Pastikan path ini dapat diakses
  addAndroidDownloads: {
    useDownloadManager: true,
    notification: true,
    mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
    description: 'File downloaded.'
  }
})